.popper-vue [x-arrow] {
  --arrow-size: inherit;
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
  transform: rotate(45deg); }
  .popper-vue [x-arrow]::before {
    --arrow-size: inherit;
    content: "";
    width: var(--arrow-size);
    height: var(--arrow-size);
    position: absolute;
    z-index: -1; }

.popper-vue[x-placement^="top"] {
  --popover-margin: inherit;
  margin-bottom: var(--popover-margin);
  transform-origin: bottom center; }

.popper-vue[x-placement^="top"] [x-arrow] {
  --arrow-position: inherit;
  bottom: var(--arrow-position); }

.popper-vue[x-placement^="top"] [x-arrow]::before {
  --arrow-shadow-color: inherit;
  box-shadow: 2px 2px 2px 0 var(--arrow-shadow-color); }

.popper-vue[x-placement^="bottom"] {
  --popover-margin: inherit;
  margin-top: var(--popover-margin);
  transform-origin: top center; }

.popper-vue[x-placement^="bottom"] [x-arrow] {
  --arrow-position: inherit;
  --arrow-shadow-color: inherit;
  top: var(--arrow-position); }
  .popper-vue[x-placement^="bottom"] [x-arrow]::before {
    box-shadow: -1px -1px 1px 0 var(--arrow-shadow-color); }

.popper-vue[x-placement^="right"] {
  --popover-margin: inherit;
  margin-left: var(--popover-margin);
  transform-origin: left center; }

.popper-vue[x-placement^="right"] [x-arrow] {
  --arrow-position: inherit;
  --arrow-shadow-color: inherit;
  left: var(--arrow-position); }
  .popper-vue[x-placement^="right"] [x-arrow]::before {
    box-shadow: -1px 1px 1px 0 var(--arrow-shadow-color); }

.popper-vue[x-placement^="left"] {
  --popover-margin: inherit;
  margin-right: var(--popover-margin);
  transform-origin: right center; }

.popper-vue[x-placement^="left"] [x-arrow] {
  --arrow-position: inherit;
  --arrow-shadow-color: inherit;
  right: var(--arrow-position); }
  .popper-vue[x-placement^="left"] [x-arrow]::before {
    box-shadow: 1px -1px 1px 0 var(--arrow-shadow-color); }
